*{
    font-family: 'Quicksand', sans-serif;
}
h1{
    color:rgb(14, 15, 14);
    text-align: center;
}
.git-init{ 
    height:200px;
    width:700px;
}
li{
    font-size: 30px;
    padding-top: 20px;;
}