*{
    font-family: 'Quicksand', sans-serif;
}
h1{
    color:rgb(14, 15, 14);
    text-align: center;
}
.image{ 
    height:200px;
    width:700px;
}
li{
    font-size: 30px;
    padding-top: 20px;
    text-transform: capitalize;
}
.spn{
    background-color: red;
}
.spn-green{
     background-color: rgb(86, 190, 86);
}
.git-add-image{
    height:60px;
    width:1000px
}
.github-commit-image{
    height:150px;
    width:1000px
}